body{
    font-size: 80%;
    overflow-x: auto;
    background-color: #ffccbc1f;

}
.breadcrumb a{
    color: black;
}
section h3{
    color: #ffffff;
    background-color: #002147;
    font-weight: bolder;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    padding: 10px;
}

h5{
    font-size: 16px;
    color: #f7941d;
    font-weight: 600;
}
.row{
    justify-content: space-around;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.trBg{
    background-color: #e8e8e8;
}
thead{
    font-weight: bold;
}
@media (min-width:500px){
    body{
        font-size: 95%;
    }
}