body{
    font-size: 80%;
    overflow-x: auto;
    background-color: #ffccbc1f;

}
.text-orange {
    color: #ff9900;
}
.breadcrumb a{
    color: black;
    font-size: 12px;
}
section h3{
    color: #ffffff;
    background-color: #002147;
    font-weight: bolder;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    padding: 10px;
}

h5{
    font-size: 16px;
    font-weight: 700;
}
.row{
    padding: 10px;
}

.trBg{
    background-color: #e8e8e8;
}
td {
    min-width: 150px;
    margin-top: auto;
    margin-bottom: auto;
}
thead{
    font-weight: bold;
}
@media (min-width:500px){
    body{
        font-size: 95%;
    }
    .breadcrumb a{
        font-size: 14px;
    }
    section h3{
        font-size: 19px;
    }
    h5{
        font-size: 17px;
    }
}

@media (min-width:1024px){
    body{
        font-size: 100%;
    }
    .breadcrumb a{
        font-size: 15px;
    }
    section h3{
        font-size: 22px;
    }
    h5{
        font-size: 19px;
    }
}

