body{
    font-size: 80%;
    overflow-x: hidden;
    background-color: #ffccbc1f;

}
.breadcrumb{
    margin-top: 100px;
}
.breadcrumb a{
    color: black;
    font-size: 12px;
}
section{
  
    padding: 20px 0px;
}
.card {
    margin: 10px 0px;
}
.card-header{
    font-size: 13px;
    
}
section h3{
    background-color: #002147;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 30px;
}
h5{
    font-weight: bolder;
    font-size: 16px;
}
.funded {
    box-shadow: 1px 1px 10px #00ff005f;
}
.notfunded{
    box-shadow: 1px 1px 10px #ff00005f;
}
.square li{
    list-style: square;
}
table{
 background-color: white;
}
.li-padding li{
    padding-bottom:10px ;
}

@media (min-width:575px){
    body{
        font-size: 90%;
    }
    .breadcrumb a{
        font-size: 14px;
    }
    section h3{
        font-size: 20px;
    }
    .card {
        margin-top: 0px;
    }
    .card-header{
        text-align: center;
        font-size: 15px;
        
    }
}
@media(min-width:1024px){
    body{
        font-size: 95%;
    }
    .breadcrumb a{
        font-size: 15px;
    }
 .card{
     min-height: 210px;
 }
 .card-header{
    font-size: 16px;
    
}
section h3{
    font-size: 21px;
}
}