body{
    font-size: 80%;
    overflow-x: hidden;
    background-color: #ffccbc1f;

}
.breadcrumb{
    margin-top: 100px;
}
.breadcrumb a{
    color: black;
    font-size: 12px;
}

section h3{
    background-color: #002147;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 20px;
}
.reasons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    height: 60px;
    border-radius: 5px;
}
.reasons p{
    text-align: center;
    color: white;
}
section{
    background-color: #ffffff65
}
h5{
    padding: 5px 10px;
    font-weight: bold;
    font-size: 17px;
    text-decoration: underline;
}

.softBucket{
    background-color: #2e69ae;
    color: white;
    padding: 20px;
    margin:10px;
    min-height: 100px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}
.legalAction{
    background-image: url("../img/modules/collectionConcept/triangle.png");
    background-size: cover;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    padding-bottom: 10px;
}
.one{
    background: rgba(0, 0, 0, 0.50);
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}
.two{
    background: rgba(0, 0, 0, 0.60);
    margin: 10px;
    border-radius: 5px;
    padding: 10px;

}
.three{
    background: rgba(0, 0, 0, 0.70);
    margin: 10px;
    border-radius:5px;
    padding: 10px;

}
.four{
    background: rgba(0, 0, 0, 0.80);
    margin: 10px;
    border-radius: 5px;
    padding: 10px;

}
.heading{
    text-decoration: underline;
    font-weight: bold;
}
.desc{
    display: none;
    transition: display 0.2s ease-in-out;
}
.firstdesc{
    display:block;
}
@media (min-width:576px){
    body{
        font-size: 90%;
    }
    .breadcrumb a{
        font-size: 14px;
    }

    .right
    {
        transform: rotate(-90deg);
    }
    .left{
        transform: rotate(90deg);
    }
    .softBucket{
      margin: 0px;
      min-height: 150px;
      width:auto;
      font-weight: 600;
    }
    .legalAction{
        background-image: url("../img/modules/collectionConcept/triangle.png");
        text-align: center;
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
     
    }
    .desc{
        display: block;
    }
}


@media(min-width:1024px){
    body{
        font-size: 95%;
    }
    .breadcrumb a{
        font-size: 15px;
    }
    .legalAction{
        background-image: url("../img/modules/collectionConcept/triangle.png");
        text-align: center;
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
        
    }
}