*{
 
    box-sizing: border-box;
}
body{
 background-color: #ffccbc1f;
}
a{
    color: black;
}
.breadcrumb a{
    color: black;
    font-size: 12px;
}
.card-header{
    color: #ffffff;
    background-color: #002147;
    font-weight: bolder;
    cursor: pointer;
}
.sectionTitle{
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
}
body{
    font-size: 80%;
}
.section{
    background-color: #fff;
}
.sectionBody li{
    list-style: square;
    font-weight: bold;
    padding: 3px;
}
.sectionBody{
    padding:0px 10px;
}
.row{
    padding-top: 10px;
    padding-bottom: 10px;
}
.aggBtn{
    background-color: #77a6f7;
    color: darkblue;
    padding: 10px;
    font-weight: bolder;
}
.aggVal{
    background-color: #D3E3FC;
}
.foir{
    min-height: 50px;
    display: flex;
    align-items: center;
}
#play,#play2{
    margin: 10px;
    width: 35px; 
    height: auto;
}

#playAgain{ 
    display:block;
    position: absolute;
    left: 50%;
    top:120%;
}
.content{
    transition: 0.2s;
}


@media (min-width:500px){
    body{
        font-size: 100%;
    }
    .breadcrumb a{
        font-size: 14px;
    }
    .sectionTitle{
        text-align: center;
    }
}

@media (min-width:1000px){
    .breadcrumb a{
        font-size: 15px;
    }
    .aggBtn{
        min-height: 100px;
        padding: 25px;
    }
}