*{
    margin: 0px;
    padding: 0px;


}
body{
    background-color: #ffccbc1f;
    font-size: 90%;
    overflow-x: hidden;
}

a{
    color: black;
}
td{
    overflow-x: visible;
}
ul{
    overflow-x: unset;
}
li{
    overflow-x: unset;
}
table{
    background-color: white;
}

.container-fluid{
    padding: 0px;
}



.breadcrumb a{
    font-size: 12px;
}
.row{
  padding: 0px;
}

.container-fluid h3{
    margin-top:10px;
    font-size:16px;
    font-weight: bolder;
    text-align: center;
    background-color: #002147;
    color: white;
    padding: 10px;
}

.container-fluid p{
  
   text-align: center;
    padding: 10px;
}

.ourcustomers h5{
    font-size: 16px;
    margin-top: 10px;
    text-decoration: underline;
    font-weight: bolder;
    color: midnightblue;
    padding: 10px;    
    cursor: pointer;
    text-align: center;
    background-color:#efefef;
    box-shadow: 1px 1px 30px grey;
    border-radius: 5px;
}
.ourcustomers ul{
    transition: display 0.2s ease-in-out;
    min-height: 200px;
}
.ourcustomers ul li{
    font-weight: lighter;
    list-style-type: disc;
    margin-left: 20px;
    font-size: 14px;
    color: black;
    text-shadow: 2px 3px 5px white;
    font-weight: bold;
}
.col-sm-8{
    padding-left: 5px;
    padding-right: 5px;
}
.customerSegment h3 {
    margin-top: 30px;
}
#toc a{
    font-weight: bolder;
    font-size: 14px;
    display: block;
    margin: 0px;
    padding: 10px;
    padding-left: 20px;
}
.table{
    margin-top: 10px;
}

.caution .card .card-header h3{
    font-weight:bolder;
    font-size:16px
}
.caution .card .card-body h5{
    font-weight:400;
    font-size: 16px;
}
.caution .card .card-body li{
    list-style-type: square;
    margin-top: 10px;
    margin-left: 30px;
}

tr{
    border-bottom: black solid 1px ;
}
.matrix h5{
    font-size: 15px;
    padding: 10px;
    background-color: #6afff03d;
}
.underwriting h5{
    background-color: orange;
    min-height: 70px;
    text-align: center;
    font-weight: bolder;
    color: white;
    border-radius: 20px;
    padding: 20px;
    font-size: 16px;
}

@media screen and (min-width:450px){
   
    body{
        font-size: 95%;
    }
    .row{
        padding: 20px;
    }
    .container{
        padding: 0px 15px;
    }
    .col-sm-8{
        padding-left: 15px;
        padding-right: 15px;
    }
    li{
        font-size: 15px;
    }
    .caution .card .card-header h3{
        font-weight:bolder;
        font-size:17px
    }
    .caution .card .card-body h5{
        font-weight:bolder;
        font-size: 17px;
    }
    table{
        margin-top: 30px;
    }
    
    td{
        font-size: 15px;
        font-weight: 400;
    }
    th{
        font-size: 16px;
    }
    .underwriting h5{
        padding: 20px;
        max-width: 160px;
      }
}
@media screen and (min-width : 1000px){
    
    body{
        font-size: 100%;
    }
   
    .container-fluid h3{
        font-size: 23px;
    }
    .ourcustomers h5{
            font-size: 20px;
     }

    .ourcustomers ul li{
        font-size: 17px;
    }
    td{
        font-size: 17px;
        font-weight: 400;
    }
    th{
        font-size: 18px;
    }
    .underwriting h5{
        min-height: 100px;
        font-size: 19px;
        padding: 30px;
        max-width: 160px;
    }
    .matrix h5{
        font-size: 17px;
        padding-right: 200px;
        padding-left:200px ;
    }


    
}