/*  this stylesheet is designed with desktop first ideology */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    
    padding: 0px;
    overflow-x: hidden;
    background-color: #ffccbc1f;

}
.breadcrumb a{
    color: black;
    font-size: 12px;
}
.container-fluid{
    padding: 0px;
}
.bgimg{
    background-image: url(../img/bg.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px;
    
}

#arrow{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#arrow i {
   font-size: 35px; 
   color: orange;
}
.arrow-diag{
    padding: 10px;  
    color: white;
    font-weight: 800;
    font-size: 22px;
}
.founder{
    background-color: #00b7ff12;
}

.founderImg{
    border-radius: 50%;
}
.founderName{
    color: #032147;
    padding:10px;
    margin: 10px;
    font-weight: bold;
}
#intro,#vision,#apacHousing{
    padding-top:15px;
    overflow-x: hidden;
}
#intro h1 , #vision h1, #apacHousing h1 ,#societalimpact h3 {
    padding: 10px;
    background-color: #002147;
    color: aliceblue;
    font-weight: bolder;
    font-size: 22px;
}

.card{
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0px 1px 10px black;
    margin: 10px;
    background-color: #e8f3ffce;

}

.card .card-title h3 {
    background-color: #153e6f;
    padding: 10px;
    color: #fff;
    font-weight: bolder;
    border-radius: 10px;
}
.blink {
    animation: blink 3s infinite linear;
}
@keyframes blink{
	0% {
		opacity: 0;
	}
	20%{
		opacity: .5;
	}
	40%{
		opacity: 1;
	}
	60%{
		opacity: 1;
	}
	80%{
		opacity: 0.5;
	}
	100%{
		opacity: 0;
	}	
}
.card-body{

    transition: 0.25s;
   
}

.card img{
    height: auto;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.card ul li{
    font-size: 18px;
}
#vision {
    box-shadow: 3px 3px 15px grey;
    background-color: white;
    overflow-x: hidden;
 
}
#vision img{
    width: 80%;
}

#img1{
    width: 100px;
}

#img1{
  float: right;
}

#img2{
    padding-top: 110px;
}


#apacHousing h3{
   
    font-weight: bolder;
    padding-top: 10px;
    font-size: 20px;
    
} 

#apacHousing #cardtitle{
    color: white;
}

#apacHousing ul li{
    font-size: 15px;
}

#societalimpact{
    margin-top: 30px;
    background-color: #fff;
    overflow-x: hidden;

}
#statsinfo h4{
    font-size: 20px;
}




@media screen and (max-width : 991px){

 

    .breadcrumb a{
        font-size: 16px;
    }

    #intro h1, #vision h1,#apacHousing h1{
        font-size: 30px;
    }
    .founder li{
        font-size: 14px;
    }
    .card ul li {
        font-size: 16px;
    }

    .card-title h3{
        font-size: 20px;
    }
    .card img{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        display: block;
        margin: auto;
    }
    #vision img{

        width: 70%;
        float: none;
        display: block;
        margin: auto;
    }
    #vision .row #img2{
        padding-top: 0%;
    }

    #apacHousing ul li{
        font-size: 16px;
    }

    #apacHousing h3{
        font-size: 20px;
    }
    #apacHousing div h4{
        font-size: 20px;
        font-weight: bold;
        }

    #statsinfo{
        opacity: 1;
    }

}


@media screen and (max-width:450px){

    .breadcrumb a{
        font-size: 12px;
    }
    .founder li{
        font-size: 14px;
    }
    .bgimg{
        height: 250px;
    }
    #arrow{
        height: 250px;
    }
    .arrow-diag{
        padding: 10px;  
        color: white;
        font-size: 17px;
    }
    .founder li{
        font-size: 13px;
    }
    .founderName{
        text-align: center;
    }
    .card img{
        height: 100px;
        width: 100px;
    }



    #intro h1, #vision h1,#apacHousing h1{
        font-size: 15px;
    }



    .card{
        margin-left:20px;
        margin-right:20px;

    }
    .card ul li {
        font-size: 11px;
    }
    .card .card-title h3{
        font-size: 15px;
    }
    #vision{
        width:100%;
        box-shadow: unset;
        border-radius: unset;
    }
    #vision img{
        width: 80%;
        float: none;
        display: block;
        margin: auto;
    }
    #vision .row #img2{
        padding-top: 0px;
    }

    #apacHousing h3{
        font-size: 15px;
    }
    #apacHousing ul li{
        font-size: 11px;
    }
    #apacHousing div h4{
    font-size: 15px;
    font-weight: bold;
    }

    #statsinfo{
        opacity: 1;
    }
  

 

}