*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #ffccbc1f;
}
a{
    color: black;
}
.breadcrumb a{
    font-size: 12px;
}
.container-fluid{
    padding: 0px;
    overflow-x: hidden;
}

.col-5{
    min-height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px grey;
    cursor: pointer;

}
.col-5 a{
    color:#153e6f;
    display: block;
    margin: auto 0px;
}
.col-5 a h5{
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bolder;
    font-size: 15px;
    text-shadow:2px 2px 30px wheat;
    text-align: center;
    transition: all 0.3s ease;

}

.col-5 a h5:hover{        
    font-size: 17px;
}
.grey{
    background-color:rgba(165, 165, 165,0.7);
    transition: all 0.3s ease-in-out;
}
.grey:hover{
    background-color:rgba(165, 165, 165,1) 
}
.orange{
    background-color: rgba(255, 184, 52, 0.7);
    transition: all 0.3s ease-in-out;

}
.orange:hover{
    background-color: rgba(255, 184, 52, 1);

}
.yellow{
    background-color: rgba(255, 255, 90,0.7);
    transition: all 0.3s ease-in-out;

}
.yellow:hover{
    background-color: rgba(255, 255, 90,1);

}
.blue{
    background-color:rgba(131, 220, 255, 0.7) ;
    transition: all 0.3s ease-in-out;

}
.blue:hover{
    background-color:rgba(131, 220, 255, 1) ;
}
.green{
    background-color: rgba(123, 255, 123,0.7);
    transition: all 0.3s ease-in-out;
}
.green:hover{
    background-color: rgba(123, 255, 123,1);
}


@media(min-width:600px){
    .breadcrumb a{
        font-size: 14px;
    }
    .col-5{
        min-height: 200px;        
    }
    .col-5 a h5:hover{        
        font-size: 25px;
    }

    .col-5 a h5{
        font-size: 20px;
        text-align: center;     
    }
 
}

@media(min-width:1200px){
    .breadcrumb a{
        font-size: 15px;
    }
    .col-5{
        overflow: visible;
        margin: 20px;
        box-shadow: 2px 5px 10px black;
    }
    .col-5:hover{
       font-size: 35px;
       
    }
    .col-5 a h5{
        color: #153e6f;
        font-size: 30px;
        text-align: center;
     
    }

    
}