*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: auto;
}
body{
    font-family: monospace;
}
.container-fluid{
    padding: 0px;
    overflow-x: hidden;
}
.container-fluid h3{
    margin-top: 10px;
    background-color: #153e6f;
    color: white;
    font-size: 23px;
    font-weight: bolder;
    padding: 10px;
    text-align: center;    
}
.col-5{
    min-height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px grey;

}
.col-5 a{
    color:#153e6f;
    display: block;
    margin: auto 0px;
}
.col-5 a h5{
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bolder;
    font-size: 15px;
    text-shadow:2px 2px 30px wheat;
    text-align: center;
}

footer{
    min-height: 100px;
    background-color: #153e6f;
}

@media(min-width:600px){
    .col-5{
        min-height: 300px;
        
    }
   
}

@media(min-width:1200px){
    .col-5{
        margin: 40px;
        box-shadow: 2px 5px 35px black;
    }
    .col-5 a h5{
        color: #153e6f;
        font-size: 30px;
        text-align: center;
     
    }
    
}