#play{
    position: absolute;
    top: 100%;
    left: 50%;
    width: 30px;
    height: auto;
}

#playAgain{ 
    display:block;
    position: absolute;
    left: 50%;
    top:120%;
}
.content{
    transition: 0.2s;
}

