footer{
    overflow-x: hidden;
    background-color:#153e6f;
    color: white;
}

footer h3{
    font-size: 17px;
    font-weight: bolder;
    color: #ffa600;
    margin: 20px 0px;
}
footer li{
    list-style: none;
}
footer li a{
    font-size: 12px;
    color: white;
}
footer h5{
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0px;
}
footer p{
    font-size: 12px;
}
footer hr{
    margin: 0px;
    
}
footer .wrapperfollow{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .followitem{
    padding: 5px;
    flex: 1;
    text-align: center;
    padding: 20px 0px;
    font-size: 25px;
}
footer .followus{
    
    background-color: #002147;

}

@media (min-width:500px){
    footer h3{
        font-size: 20px;
       
    }
    footer li{
        list-style: none;
    }
    footer li a{
        font-size: 15px;
   
    }
    footer h5{
        font-size: 17px;
 
    }
    footer p{
        font-size: 15px;
    }
    footer .followitem{
      
        font-size: 30px;
    }
}
@media (min-width:1024px){
    footer h3{
        font-size: 25px;
       
    }
    footer li{
        list-style: none;
    }
    footer li a{
        font-size: 17px;
   
    }
    footer h5{
        font-size: 20px;
 
    }
    footer p{
        font-size: 17px;
    }
}