body{
    padding: 0px;
    margin: 15px;
    background-image: url(img/background.jpg);    
    
}
.container-fluid{
    padding: 0px;
}

.navbar{
    background-color: rgba(74,197,238, 0.5);
} 
.img-logo{
    height:81px;
    width:203px;
}
li{		
    font-family: 'Lato', sans-serif;
    padding-right:20px;
    font-weight:bold;
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link{
    color: #153e6f;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover{
	color: orange;
}
#nav-bar{
    display: block;
}

.bgimg{
    background-image: url(img/bg.jpeg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    
}
@media screen and (max-width : 991px){

    nav ul li a {
        text-align: center;
    }
    nav ul li{
        padding-top: 10px;
    }
}

@media screen and (max-width:450px){

 
    .img-logo{
        height:40px;
        width:100px;
    }
    .bgimg{
        margin-top: 20px;
        background-image: url(img/bg.jpeg);
        height: 300px;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .navbar ul li{
        font-size: 15px;
    }
}