*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background-image: url(img/background.jpg);
}
.container-fluid{
    padding: 0px;
}

.navbar{
    background-color: rgba(74,197,238, 0.5);
} 

.img-logo{
    height:40px;
    width:100px;
}
.bgimg{
    margin-top: 20px;
    background-image: url(img/bg.jpeg);
    height: 300px;
    background-repeat: no-repeat;
    background-size:cover;
}

.navbar-light .navbar-nav .nav-link{
    font-size: 16px;
    font-weight: bolder;
    color: #153e6f;
    text-align: center;
}
.navbar-light .navbar-nav .nav-link:active{
    color: orange;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover{
	color: orange
}

#nav-bar{
    display: block;
}


.bgimg{
    background-image: url(img/bg.jpeg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    
}
.row{
    padding: 30px;
}

.container-fluid h3{
    margin-top:10px ;
    font-size:18px;
    font-weight: bolder;
    text-align: center;
    background-color: #3f6594;
    color: white;
    padding: 10px;
}

.ourcustomers h5{
    font-size: 16px;
    margin-top: 10px;
    text-decoration: underline;
    font-weight: bolder;
    color: midnightblue;
    padding: 10px;    
    cursor: pointer;
    text-align: center;
    background-color:#aaa;
    border-radius: 5px;
}
.ourcustomers ul{
    transition: display 0.2s ease-in-out;
    min-height: 200px;
}
.ourcustomers ul li{
    font-weight: lighter;
    list-style: disc;
    margin-left: 20px;
    font-size: 14px;
    color: black;
    text-shadow: 2px 3px 5px white;
    font-weight: bold;
}
.customerSegment h3 {
    margin-top: 30px;
}
.table{
    margin-top: 20px;
}
.caution .card .card-header h3{
    font-weight:bolder;
    font-size:16px
}
.caution .card .card-body h5{
    font-weight:400;
    font-size: 16px;
}
tr{
    border-bottom: black solid 1px ;
}
footer{
    height: 100px;
    background-color: #153e6f;
}
@media screen and (min-width:450px){
 
    .img-logo{
        height:40px;
        width:100px;
    }
    .bgimg{
        margin-top: 20px;
        background-image: url(img/bg.jpeg);
        height: 300px;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .navbar ul li{
        font-size: 15px;
    }
    li{
        font-size: 15px;
    }
    .caution .card .card-header h3{
        font-weight:bolder;
        font-size:17px
    }
    .caution .card .card-body h5{
        font-weight:bolder;
        font-size: 17px;
    }

    td{
        font-size: 15px;
        font-weight: 400;
    }
    th{
        font-size: 16px;
    }
}
@media screen and (min-width : 1000px){
    
    .img-logo{
        height:71px;
        width:180px;
    }
    nav ul li a {
        text-align: center;
    }
    .navbar-light .navbar-nav .nav-link{
        padding-right: 25px;
        font-size: 18px;
    }
   
   
    .container-fluid h3{
        font-size: 23px;
    }
    .ourcustomers h5{
            font-size: 20px;
     }

    .ourcustomers ul li{
        font-size: 17px;
    }
    td{
        font-size: 17px;
        font-weight: 400;
    }
    th{
        font-size: 18px;
    }
}