@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
#loaderWrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    z-index: 99999;
}
.Outer{
    border: 3px solid #002147;
    border-radius: 50%;
    height: 95px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00214785;
    color: white;
    font-weight: bold;
    animation: loading 2s linear infinite;
}

@keyframes loading{
    0%{
        background-color: #00214785;
    }
    20%{
        background-color: #002147b7;
    }
    40%{
        background-color: #002147dc;

    }
    60%{
        background-color: #002147;

    }
    80%{
        background-color: #002147dc;

    }
    100%{
        background-color: #00214785;

    }
}
body{
    font-family: 'Cairo', serif-serif;

}


.container-fluid{
    padding: 0px;
}
nav{
    overflow-x: visible;
}
.navbar{
    background-color: #153e6f;
} 
.img-logo{
    height:65px;
    width:155px;
}
nav li{		
    padding-right:20px;
    font-weight:700;
    font-size: 17px;
}

#toc a{
    font-weight: 600;
    font-size: 14px;
    display: block;
    margin: 0px;
    padding: 10px;
    padding-left: 30px;
}


.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
}
.current{
    font-size:22px ;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover{
	color: #ffc107;
}
#nav-bar{
    display: block;
}


@media screen and (max-width : 991px){

    .img-logo{
        height:45px;
        width:120px;
    }
    nav ul li a {
        text-align: center;
    }
    nav ul li{
        padding-top: 10px;
    }
}

@media screen and (max-width:450px){

 
    .img-logo{
        height:40px;
        width:100px;
    }
  
    .navbar ul li{
        font-size: 15px;
    }
    nav li{
        padding-right:0px;

    }
}