@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
body{
    font-family: 'Cairo', serif-serif;

}


.container-fluid{
    padding: 0px;
}
nav{
    overflow-x: visible;
}
.navbar{
    background-color: #153e6f;
} 
.img-logo{
    height:65px;
    width:155px;
}
nav li{		
    padding-right:20px;
    font-weight:700;
    font-size: 17px;
}

#toc a{
    font-weight: 600;
    font-size: 14px;
    display: block;
    margin: 0px;
    padding: 10px;
    padding-left: 30px;
}


.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
}
.current{
    font-size:22px ;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover{
	color: #ffc107;
}
#nav-bar{
    display: block;
}


@media screen and (max-width : 991px){

    .img-logo{
        height:45px;
        width:120px;
    }
    nav ul li a {
        text-align: center;
    }
    nav ul li{
        padding-top: 10px;
    }
}

@media screen and (max-width:450px){

 
    .img-logo{
        height:40px;
        width:100px;
    }
  
    .navbar ul li{
        font-size: 15px;
    }
    nav li{
        padding-right:0px;

    }
}