
.container-fluid{
    padding: 0px;
}
nav{
    overflow-x: visible;
}
.navbar{
    background-color: #153e6f;
} 
.img-logo{
    height:81px;
    width:203px;
}
nav li{		
    padding-right:20px;
    font-weight:bold;
    font-size: 20px;
}

#toc a{
    font-weight: bolder;
    font-size: 14px;
    display: block;
    margin: 0px;
    padding: 10px;
    text-align: center;
}


.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover{
	color: orange;
}
#nav-bar{
    display: block;
}

.bgimg{
    background-image: url(../img/bg.jpeg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    
}
@media screen and (max-width : 991px){

    .img-logo{
        height:45px;
        width:120px;
    }
    nav ul li a {
        text-align: center;
    }
    nav ul li{
        padding-top: 10px;
    }
}

@media screen and (max-width:450px){

 
    .img-logo{
        height:40px;
        width:100px;
    }
    .bgimg{
        margin-top: 20px;
        background-image: url(../img/bg.jpeg);
        height: 300px;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .navbar ul li{
        font-size: 15px;
    }
    nav li{
        padding-right:0px;

    }
}